.Textfield {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;

  input {
    border: 2px rgba(112, 128, 144, 0.574) solid;
    outline: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
    transition-property: all;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    input:active {
      border-color: blue;
    }
  }
}
